body {
    display: flex;
    flex-direction: column;
    margin: 0;



}

.header {
    display: flex;
    background-color: #1f2937;
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 200px;

}

li, a {
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 15px;
}

h1 {
    color:  #F9FAF8;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    margin-left: 200px;
    align-self: center;

}

footer {

    background-color: #1f2937;
    color: #E5E7EB;
    height: 60px;
    align-content: center;
    text-align: center;
    margin-bottom: auto;
    font-size: 12px;
    
}

.section-one {
    background-color: #1f2937;
    padding: 20px 10px 0 200px;
    display: flex;
    color: white;
    padding-top: 40px;
    
}


h2 {
    font-weight: 900;
    color:  #F9FAF8;
    font-family: Roboto;
    font-size: 48px;
    margin: 0;
    
}

img {
    margin-left: auto;
    margin-right: 300px;
}

.awesome {
    width: 350px;
    height: 250px;
    
   
}


.button-one {
    background-color: #3882F6;
    color: white;
    font-size: 10px;
    border-radius: 10px;
    border-color: white;
    padding: 5px;
    width: 80px;
    height: 50x;
    border-color: #3882F6;
    margin-top: 10px;
    
}

.section-two {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

}

.header-s2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 30px;

}

.empty-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

 
}

.empty-box img {
    width: 200px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin: 0;
   
}

.box-words {
    width: 200px;

}

.section-three {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 24px;
    padding: 60px;
    align-items: center;
}

.language {
    width: 500px;


}

.quote {
    font-style: italic;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.sig {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
}


.section-four {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    padding: 60px;
    align-items: center;
}

.signup {
    width: 700px;
    border-radius: 5px;
    display: flex;
    padding: 40px;
    background-color: #3882F6;
    color: white;
}

.calltoaction {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

button {
    margin-left: auto;
    background-color: #3882F6;
    color: white;
    border-width: 2px ;
    border-color: white;
    border-radius: 8px;
    width: 100px;
}